@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*{
    padding: 0;
    margin: 0;
}
.footer {
    width: 100%;
    background-color: #09283F;
 }

 .link{
    text-decoration: none;
 }

.container{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   padding: 3rem 3rem;
}

.socialMedia {
   display: flex;
   gap: 2rem;
   margin-top: -2rem;
   cursor: pointer;
   padding-left: 2%;
}

.socialMedia a{
    color: #FFFFFF;
}

.container h3{
    font-size: 1.5em;
    color: aliceblue;
}

.list {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    list-style: none;
    margin-top: -10%;
 }

.redesSociais{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
}

.list .link {
    color: #6089A7;
    transition: all 0.4s;

 }

.list .link:hover {
    color: #374d82;
 }

.subscribe {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: -9%;
 }
 
.subscribe p {
    color: #6089A7;
 }

.inputGroup {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 4px;
 }

.inputGroup input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
 }

.inputGroup button {
    background-color: #6089A7;
    border: none;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
 }

.copyright {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    padding: 1rem;
    font-weight: 100;
 }