@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 30vh;
    background-color: #09283F;
    position: absolute;

}

.redesSociais{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.redesSociais a {
    color: white;
}

li:hover{
    color: #6089A7;
    transition: all 0.4s;
}

h3{
    font-size: 23px;
    margin-bottom: 5%;
}

.Suporte{
    margin-top: 2%;
    color: white;
}

.Suporte li{
    padding: 10%;
    list-style-type: none;
    
}

.Empresa{
    margin-top: 2%;
    color: white;

}

.Empresa li{
    padding: 10%;
    list-style-type: none;

}

.termos{
    margin-top: 2%;
    color: white;

}

.termos li{
    padding: 8%;
    list-style-type: none;
    inline-size: 100%;
}

.email{
    margin-top: 3%;
}

.email p{
    padding: 10%;
    color: white;
    inline-size: 100%;
}

.email input {
    height: 15%;
}

.email button {
    background-color: #6089A7;
    color: white;
    border: none;
    padding: 0px 1.25rem;
    font-size: 1rem;
    height: 32px;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}
